*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    
    background-image: url('../hats/imageneshats/hatBody.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
    

.container{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
   
}

.item{
    
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(40, 97, 129);
    transition: all 300ms;
    position: relative;
    
    
}
.item::after{
    content: "";
    background-color: rgba(109, 113, 114, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
} 
.item:hover::after{
    opacity:1;
    transform: scale(1);
}
.item:hover{
transform: scale(1.1);
}
.item-text{
    padding: 1em;
    background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.item-text span{
    background-color: rgba(255,255,255,.5);
    padding: 3px;
    border-radius: 20px;
    
}
.item-text a{
    position: relative;
    z-index: 100;
    text-decoration: none;
    color:#2B9EAC;
    font-size: 15px;
    padding: 15px;
}
.item-text span:hover{
    background-color: rgba(242,233,95,.5)


}
.item-img{
    max-width: 100%;
    display: block;
}

@media screen and (min-width: 590px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px){
.container{
    grid-template-columns: repeat(3, 1fr);
}
}


/*estilo boton de compra*/
.boton{
    position: relative;
    overflow: hidden;
    border: 2px solid #FFAFBD;
    opacity: .8;
    width: 150px;
    z-index: 100;
    font-size: 15px;
    padding: .5rem 1rem;
    
}


.botonEstilo{
    transition: color .5s;
    
}

.botonEstilo:hover{
    color: #00f80c;
    opacity: 1;
}

.botonEstilo::before,
.botonEstilo::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
}

.botonEstilo:hover::before{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

/*efecto rayita*/
.botonEstilo::after{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    height: 30%;
    background-color: #ffffff;
    transform: rotate(45deg) translateY(650%);
    transition: background-color .4s;
    }

    .botonEstilo:hover::after{
        transition: background-color .4s, transform .6s;
        transform: rotate(45deg) translateY(-700%);
    }